<div class="row">        <!-- first two days -->
  <div class="col-md-6"> <!-- left column -->
    <h3>Day 1</h3>
    <table class="table table-striped">
      <tr>               <!-- row 1   -->
        <td>Before starting</td>
        <td><a href="{{ site.pre_survey }}{{ site.github.project_title }}" target="_blank">Pre-workshop survey</a></td>
      </tr>
      <tr>               <!-- row 2   -->
        <td>09.00</td>            
        <td>Environment set up clinic (DC/AB)</td>          
      </tr>
      <tr>               <!-- row 3   -->
        <td>10.00</td>             
        <td>Unix shell 101 (AB)</td>          
      </tr>
         <tr>               <!-- row 3   -->
        <td>11.00</td>             
        <td>Commandline programs (AB)</td>          
      </tr>
         <tr>               <!-- row 3   -->
        <td>12.30</td>             
        <td>Lunch</td>          
      </tr>
         <tr>               <!-- row 3   -->
        <td>13.30</td>             
        <td>Python fundamentals (DC)</td>          
      </tr>
         <tr>               <!-- row 3   -->
        <td>16.00</td>             
        <td>End</td>          
      </tr>
    </table>
  </div>
  <div class="col-md-6"> <!-- right column -->
    <h3>Day 2</h3>
    <table class="table table-striped">
      <tr>               <!-- row 1   -->
        <td>10.00</td>             
        <td>Loading and analyzing data from various sources (DC)</td>          
      </tr>
      <tr>               <!-- row 2   -->
        <td>11.00</td>             
        <td>Visualizing data (DC)</td>         
      </tr>
      <tr>               <!-- row 3   -->
        <td>12.30</td>             
        <td>Lunch</td>          
      </tr>
      <tr>               <!-- row 4   -->
        <td>13.30</td>             
        <td>Errors and Exceptions (AB)</td>          
      </tr>
      <tr>               <!-- row 3   -->
        <td>15.00</td>             
        <td>Testing your code (AB)</td>          
      </tr>
      <tr>               <!-- row 3   -->
        <td>16.00</td>             
        <td>End</td>          
      </tr>
    </table>
  </div>
</div>
<div class="row">        <!-- days 3 and 4 -->
  <div class="col-md-6"> <!-- left column -->
    <h3>Day 3</h3>
    <table class="table table-striped">
      <tr>               <!-- row 1   -->
        <td>10.00</td>             
        <td>Version control with Git (AB) </td>          
      </tr>
      <tr>               <!-- row 2   -->
        <td>10.30</td>             
        <td> Creating a repository & tracking changes (AB) </td> 
      </tr>
      <tr>               <!-- row 3   -->
        <td>11.30</td>             
        <td> Collaborating with others (AB)</td>        
      </tr>
      <tr>               <!-- row 4   -->
        <td>12.30</td>             
        <td>Lunch</td>         
      </tr>
      <tr>               <!-- row 3   -->
        <td>13.30</td>             
        <td>Running your code (DC) </td>          
      </tr>
      <tr>               <!-- row 3   -->
        <td>14.30</td>            
        <td>Getting credit for your code (DC)</td>          
      </tr>
      <tr>               <!-- row 3   -->
        <td>15.30</td>            
        <td>Wrap up</td>          
      </tr>
  
      <tr>               <!-- row 3   -->
        <td>End</td>
        <td><a href="{{ site.post_survey }}{{ site.github.project_title }}" target="_blank">Post-workshop survey</a></td>
      </tr>
    </table>
  </div>
</div>
